@model HomeModel;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo, @Model.Nome</h1>
    <p>Agenda de Contatos</p>
    <span>Seu email é: @Model.Email</span>
</div>
